<p id="notice"><%= notice %></p>

<div>
  <h1> <%= @category.name %> </h1>
  <p>  <%= @category.descripton %> </p>
</div>

<table>
  <tr id="main">
    <th id="main">Item</th>
    <th id="main">Price</th>
  </tr>
  <% @category.items.each do |item| %>
    </tr>
      <th>
        <%= link_to item.name, item%>
      </th>
      <th><%= item.price %></th>
    </tr>
  <% end %>
</table>

<br><br><br>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'New Item', new_item_path %> |
<%= link_to 'Back', categories_path %>
