<p id="notice"><%= notice %></p>

<div>
  <h1> <%= @category.name %> </h1>
  <%= @category.descripton %>
</div>
<br>
<table>
  <tr id="main">
    <th id="main">Item</th>
    <th id="main">Price</th>
    <th id="main">Date</th>
  </tr>
  <% sum = 0 ; quantity = 0%>
  <% @sort_items.each do |item| %>
    <% sum += item.price ; quantity += 1%>
    </tr>
      <th> <%= link_to item.name, item%> </th>
      <th> <%= item.price %> </th>
      <th> <%= item.created_at.strftime("%d/%m/%Y") %> </th>
    </tr>
  <% end %>
</table>

<h2> Total Cost = R$ <%= sum %> </h2>
<h2>Average Cost per item: <%= (sum/quantity).round(1) %> </h2>
<br><br><br>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'New Item', new_item_path %> |
<%= link_to 'Back', categories_path %>
